{% extends 'base.html' %}
{% block content %}
<head>
    <title>Cadastro de Jogador</title>
</head>
<body class="bg-warning">
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 2rem;">
            <h1 class="text-center text-success" style="margin-top: 2rem; margin-bottom: 2rem">Cadastro de Jogador</h1>
            <img src="https://conteudo.cbf.com.br/cdn/imagens/logos/logo-topo.png?v=20220613" alt="Imagm logo da seleção brasileira">
        </div>
        <form action="/salvar" method="POST" class="text-success">
            <div class="form-group" style="margin-top: 1.5rem">
                <label for="nome">Nome do Jogador</label>
                <input type="text" name="nome" id="nome" class="form-control text-success" required>
            </div>
            <div class="form-group" style="margin-top: 1.5rem">
                <label for="posicao">Posição</label>
                <input type="text" name="posicao" id="posicao" class="form-control text-success" required>
            </div>
            <div class="form-group" style="margin-top: 1.5rem">
                <label for="idade">Idade</label>
                <input type="number" name="idade" id="idade" class="form-control text-success" required>
            </div>
            <div class="form-group" style="margin-top: 1.5rem">
                <label for="clube">Clube Atual</label>
                <input type="text" name="clube" id="clube" class="form-control text-success" required>
            </div>
            <button type="submit" class="btn btn-success" style="margin-top: 1.5rem">Salvar</button>
            <a href="/" class="btn btn-primary"  style="margin-top: 1.5rem">Voltar</a>
        </form>
    </div>
</body>
{% endblock %}