{% extends 'base.html' %}
{% block content %}
<head>
    <title>Cadastro de Jogador</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Cadastro de Jogador</h1>
        <form action="/salvar" method="post">
            <div class="form-group" style="margin-top: 1.5rem">
                <label for="nome">Nome do Jogador</label>
                <input type="text" name="nome" id="nome" class="form-control">
            </div>
            <div class="form-group" style="margin-top: 1.5rem">
                <label for="posicao">Posição</label>
                <input type="text" name="posicao" id="posicao" class="form-control">
            </div>
            <div class="form-group" style="margin-top: 1.5rem">
                <label for="idade">Idade</label>
                <input type="number" name="idade" id="idade" class="form-control">
            </div>
            <div class="form-group" style="margin-top: 1.5rem">
                <label for="clube">Clube Atual</label>
                <input type="text" name="clube" id="clube" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 1.5rem">Salvar Jogador</button>
        </form>
    </div>
</body>
{% endblock %}