{% extends 'base.html' %}
{% block content %}
<head>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Lista de Jogadores</h1>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Jogador</th>
                    <th>Posição</th>
                    <th>Idade</th>
                    <th>Clube</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for jogador in jogadores %}
                <tr class="text-center">
                    <td>{{jogador['nome']}}</td>
                    <td>{{jogador['posicao']}}</td>
                    <td>{{jogador['idade']}}</td>
                    <td>{{jogador['clube']}}</td>
                    <td><a href="/editar/{{ jogador['id'] }}" class="btn btn-success">Editar</a></td>
                    <td><a href="/excluir/{{ jogador['id'] }}" class="btn btn-danger btnExcluir">Excluir</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/cadastro-jogador" class="btn btn-primary">Adicionar jogador</a>
    </div>
</body>
<script src="/static/js/app.js"></script>
{% endblock %}